service cloud.firestore {
  match /databases/{database}/documents {  
    match /groups/{groupID} {
      allow read, update;
      allow create, delete: if request.auth.uid == "kxHyGEeuDHSktlwkX0yd3V0GYlZ2";
    }
  }
}